.navbar ul{
    list-style-type: none;
    padding: 0px; margin: 0px;
    background-color: crimson; overflow: hidden;
}
.navbar a{
    color: white;
    width: 170px; font-size: 25px; font-weight: bold;
    text-align: center; border-right: 1px solid black;
    text-decoration: none; padding: 10px; display:block ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}